<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Page</title>
  <!-- Link to the stylesheet -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- Bootstrap CSS (CDN) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <!-- Bootstrap JS (CDN) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js" integrity="sha384-M9f1385AS3L8vt+oByXsXS2V9ZMm6IHiJgGvYJLbLWNHa6qpmhZ0USzy1kf+qHgo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-cVJX7CqFfSF9v6jDqMqQPyfDR4ojt1YVRx7+tlvI/E8IlI3W4dmG2GtF/iJEMD5F" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js" integrity="sha384-Oz7lgvFTBmF2tgUbWhi+UbVpO6A2ZHxrXxggo99/YCCTr3eeRtYstVqatDifOd5I" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  

  <div class="container mt-5">
    <div> 
      <h1 class="header">Student Management Portal</h1>
    </div>
    <div style="float: right; margin: 10px 20px 0px 0px">
      <!-- "Add Character" button at the top -->
      <button id="addCharacterBtn" class="btn btn-primary mb-3">Add Student</button>

      <div id="addCharacterForm" class="modal" style="display: none;">
        <div class="modal-content">
          <!--<div id="addCharacterForm"  class="modal-content">  class="character-box" -->
            <form action="/add-character" method="post">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" class="form-control" id="age" name="age" required>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
              </div>
              <div class="character-actions">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-secondary" onclick="hideAddCharacterForm()">Cancel</button>
              </div>
            </form>
            <!-- </div> --> 
        </div>
      </div>

    </div>
    

    <div class="character-box">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th style="width: 10%;">ID</th>
            <th style="width: 40%;">Name</th>
            <th style="width: 10%;">Age</th>
            <th style="width: 30%;">Your Feeling</th>
            <th style="width: 10%;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% characters.forEach(character => { %>
            <tr>
              <td><%= character.id %></td>
              <td><%= character.name %></td>
              <td><%= character.age %></td>
              <td><%= character.description %></td>
              <td>
                <div class="character-actions">                 
                    <button type="button" class="btn btn-update" onclick="openUpdateForm('<%= character.id %>', '<%= character.name %>', '<%= character.age %>', '<%= character.description %>')">Update</button>
                  <form action="/delete-character/<%= character.id %>" method="post">
                    <button type="submit" class="btn btn-delete">Delete</button>
                  </form>
                </div>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

  </div>

<!-- Update Character Form Modal -->
<div id="updateCharacterForm" class="modal" style="display: none;">
  <div class="modal-content">
    <form id="updateForm" method="post">
      <div class="form-group">
        <label for="updateName">Name:</label>
        <input type="text" class="form-control" id="updateName" name="name" required>
      </div>
      <div class="form-group">
        <label for="updateAge">Age:</label>
        <input type="number" class="form-control" id="updateAge" name="age" required>
      </div>
      <div class="form-group">
        <label for="updateDescription">Description:</label>
        <textarea class="form-control" id="updateDescription" name="description" required></textarea>
      </div>
      <div class="character-actions">
        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-secondary" onclick="hideUpdateCharacterForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>

<% if (typeof notification !== 'undefined') { %>
    
  <div id="notification" class="notification">
    <span id="notificationMessage"><%= notification %></span>
  </div>
<% } %>

  <script>
    function hideAddCharacterForm() {
      document.getElementById('addCharacterForm').style.display = 'none';
    }

    document.getElementById('addCharacterBtn').addEventListener('click', function () {
      document.getElementById('addCharacterForm').style.display = 'block';
    });

      // Get the modal
      var modal = document.getElementById("addCharacterForm");
      // Get the button that opens the modal
      var btn = document.getElementById("addCharacterBtn");
      // Get the <span> element that closes the modal
     // var span = document.getElementsByClassName("close")[0];
      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }

    function openUpdateForm(id, name, age, description) {
      document.getElementById('updateCharacterForm').style.display = 'block';
      document.getElementById('updateName').value = name;
      document.getElementById('updateAge').value = age;
      document.getElementById('updateDescription').value = description;
      // Set the action attribute of the form dynamically based on the character's ID
      document.getElementById('updateForm').action = '/update-character/' + id;
    }

    function hideUpdateCharacterForm() {
      document.getElementById('updateCharacterForm').style.display = 'none';
    }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      
    function showNotification(message) {

      var notification = document.getElementById('notification');
      var notificationMessage = document.getElementById('notificationMessage');

      notificationMessage.innerText = message;
      notification.style.display = 'block';

      setTimeout(function() {
        notification.style.display = 'none';
      }, 3000); // Hide the notification after 3 seconds (adjust as needed)
    }

  </script>


</body>
</html>
